<!--
  Copyright (c) 2025 PlaudAI. All rights reserved.
  Author: Neo.Wang@plaud.ai
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.plaud.flutter_alipay_plugin">
  
  <!-- Network permissions -->
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
  
  <!-- Alipay payment related permissions -->
  <uses-permission android:name="android.permission.READ_PHONE_STATE" />
  
  <application>
    <!-- Alipay payment Activity -->
    <activity
      android:name="com.alipay.sdk.app.H5PayActivity"
      android:configChanges="orientation|keyboardHidden|navigation|screenSize"
      android:exported="false"
      android:screenOrientation="behind"
      android:windowSoftInputMode="adjustResize|stateHidden" />
    
    <activity
      android:name="com.alipay.sdk.app.H5AuthActivity"
      android:configChanges="orientation|keyboardHidden|navigation"
      android:exported="false"
      android:screenOrientation="behind"
      android:windowSoftInputMode="adjustResize|stateHidden" />
  </application>
  
</manifest>
